[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==6.0.2"
rich = "==14.1.0"

[dev-packages]
pytest = "==8.3.3"
yamllint = "==1.32"

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
